html,

::selection {
  color: #fff;
  background-color: #000000;
} 

body {
	background-color: #f0f0f0;
	font-size: 12px;
	font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif
}
.mod-main {
	width: 806px;
	margin: 0 auto;
}

/* head && foot */
.page-head,
.page-foot{
	width: 100%;
	height: 56px;
}
.page-foot {
	background-color: #fff;
	color: #000;
}
.page-head-fixed {
	width: 100%;
	height: 56px;
	background-color: #000;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
.page-head .mod-main,
.page-foot .mod-main{
	box-sizing: border-box;
	padding: 16px 0;
	font-size: 14px;
	font-weight: 600;
}
.head-logo,
.foot-logo{
	display: block;
	width: 142px;
	height: 24px;
	float: left;
}
.head-logo img,
.foot-logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.head-tips{
	color: #999;
	font-size: 12px;
	font-weight: 400;
	height: 24px;
	line-height: 24px;
	float: right;
}

.foot-tongji{
	color: #ccc;
	font-size: 14px;
	font-weight: 600;
	height: 24px;
	line-height: 24px;
	float: left;
}

.foot-tongji:hover{
	color: #000;
}

.foot-tips{
	color: #ccc;
	font-size: 12px;
	font-weight: 400;
	height: 24px;
	line-height: 24px;
	float: right;
}
.foot-tips:hover{
	color: #000;
}
/* end */

.page-main {
	width: 100%;
	margin: 20px auto 0;
}
.m-font-mod {
	box-sizing: border-box;
	width: 806px;
	padding: 30px;
	margin: 0 auto 20px;
	background-color: #fff;
	position: relative;
}

.m-font-mod:hover{
	box-shadow:0px 0px 20px 0px rgba(0,0,0,0.1);
	transition: box-shadow 500ms ease;
}

.m-font-mod h4 {
	height: 32px;
	margin-bottom: 20px;
	line-height: 32px;
	font-size: 24px;
	color: #000000;
	font-weight: 600;
}
.m-font-mod dl {
	height: 24px;
	line-height: 24px;
	font-size: 12px;
}
.m-font-mod dt {
	width: 70px;
	float: left;
	color: #999;
}
.m-font-mod dd {
	float: left;
	color: #000;
}
.m-font-mod dd a {
	color: #000;
	text-decoration: underline;
}
.m-font-mod dd a:hover {
	color: #0027ff;
}
.get-font {
	display: block;
	width: 80px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #fff;
	border: 2px solid #000;
	color: #000;
	font-size: 14px;
	font-weight: 600;
	position: absolute;
	top: 30px;
	right: 30px;
}
.get-font:hover {
	color: #fff;
	background-color: #000;
	text-decoration: none;
	transition: background-color 500ms ease;
}

/* float */
.goto-top {
	display: block;
	box-sizing: border-box;
	width: 32px;
	height: 32px;
	border: 2px solid #000;
	text-align: center;
	line-height: 28px;
	background-color: #fff;
	color: #000;
	font-size: 14px;
	font-weight: 600;
	position: fixed;
	bottom: 76px;
	right: 20px;
}
.goto-top:hover {
	color: #fff;
	background-color: #000;
	text-decoration: none;
}
.goto-help {
	display: block;
	box-sizing: border-box;
	width: 32px;
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
	border: 2px solid #000;
	font-size: 14px;
	font-weight: 600;
	position: fixed;
	bottom: 128px;
	right: 20px;
}
.goto-help:hover {
	color: #fff;
	background-color: #000;
	text-decoration: none;
}
.goto-help span {
	display: inline-block;
	height: 20px;
	line-height: 20px;
}

.help-img {
	display: none;
	box-sizing: border-box;
	width: 120px;
	height: 156px;
	padding: 10px;
	background-color: #fff;
	box-shadow:0px 0px 50px 0px rgba(0,0,0,0.2);
	position: fixed;
	bottom: 128px;
	right: 62px;
}
.help-img img {
	display: block;
	width: 100%;
	height: 100%;
}

.goto-chat {
	display: block;
	box-sizing: border-box;
	width: 32px;
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
	border: 2px solid #000;
	font-size: 14px;
	font-weight: 600;
	position: fixed;
	top: 76px;
	right: 20px;
}
.goto-chat:hover {
	color: #fff;
	background-color: #000;
	text-decoration: none;
}
.goto-chat span {
	display: inline-block;
	height: 20px;
	line-height: 20px;
}

.chat-img {
	display: none;
	box-sizing: border-box;
	width: 120px;
	height: 156px;
	padding: 10px;
	background-color: #fff;
	box-shadow:0px 0px 50px 0px rgba(0,0,0,0.2);
	position: fixed;
	top: 76px;
	right: 62px;
}
.chat-img img {
	display: block;
	width: 100%;
	height: 100%;
}

.workImg img {
	display: block;
	padding: 30px 0 0 0;
	width: 100%;
	height: 100%;
}
